*{
   margin:0%;
   padding:0%;
}
nav{
  display:flex;
  justify-content:center;
  justify-content: space-around;
  padding: 10px;
  background-color: rgb(96, 30, 116);
  color: white;
  color: rgb(255, 179, 0);
}
nav img{
      width: 8%;
}
nav ul li{
  list-style: none;
}
nav ul li a{
  margin-inline: 22px;
  font-size: 18px;
}
nav ul li a:hover{
  color: white;
  border-bottom: 2px solid white;
  cursor: pointer;
}
nav ul li{
  margin-top: 6px;
}
nav ul li i{
  margin-inline: 18px;
  font-size: 20px;
}
nav ul li button{
  width: 80px;
  height: 30px;
  background-color: transparent;
  border:2px solid rgb(255, 179, 0);
  color:rgb(255, 179, 0);border-radius: 3px;
}
nav ul li button:hover{
  background-color: #fff;
  font-weight:900;
}

.main img{
  width:100%;
}
.prepshine {
  text-align: center;
}
.prepshine h1{
  font-size: 30px;
}
.learn{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.learn.card{
  display: flex;
  width: 500px;
  background-color: rgb(237, 226, 226);
  text-align: center;
}
